.body-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 10px;
    margin-bottom: 0px;
    
    /* padding: 0.3rem; */
    gap: 10px;
}

@media (max-width: 1024px) {
    .body-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0rem;
    }
    .quick-actions-container{
        width:100%;
        min-width: 90%;
    }
    .gamehistory-container{
        width: 100%;
        min-width: 85%;
    }

    .challange-button{
    width: 100%;
    height: 3.5rem;
    }
}

.quick-actions-container{
    border: 2px solid gray;
    border-radius: 5px;
    height: 40vh;
    min-height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
    gap: 5px;

    width: 33%;
}

.challange-button{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 75%;
    height: 4rem;
    margin: 0.5rem;
}

.gamehistory-container{
    border: 2px solid gray;
    border-radius: 5px;
    height:60px;
    min-height: 60vh;

    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 5px;

    width: 55%;
}

.title{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

