.streak-container {
    box-sizing: border-box;

    border: 2px solid gray;
    border-radius: 5px;
    min-height: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0rem 1rem 0rem;

    /* that margin will be applied on the front-page-analytics.jsx */
    /* margin:10px;*/
    gap: 15px;

    width: 35%;
}

.streak-title {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 600;

}

.days-container {
    height: 100%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.day-box {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid grey;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:1024px) {
    .streak-container {
        min-width: 100%;
    }
}